<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>net5.0</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <None Include="Beatmap\**\*" CopyToOutputDirectory="Never"/>
  </ItemGroup>

  <ItemGroup>
    <PackageReference Include="Nitrous.sbtw.Common" Version="{0}" />
  </ItemGroup>

</Project>
